<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpIcrGnDhPLC9oY6aOygH2pdsWWMnhSCs</string>
	<key>GCM_SENDER_ID</key>
	<string>963714664816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fivozaLearning</string>
	<key>PROJECT_ID</key>
	<string>fivozalearning</string>
	<key>STORAGE_BUCKET</key>
	<string>fivozalearning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963714664816:ios:e662b04f1fb1a5e84aa7b5</string>
</dict>
</plist>